.bg-blue-default{
    background-color: #339FCD;
}
.bg-about{
  background: radial-gradient(68.8% 432.26% at 76.25% 26.24%, rgba(175, 174, 174, 0.122) 0%, rgba(234, 229, 223, 0.1196) 100%);
}
.text-blue-default{
    color: #339FCD;
}